@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'blocks/divider';
@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/roadmap';
@import 'blocks/tokenomika';
@import 'blocks/guide';
@import 'blocks/footer';
@import 'blocks/menu';
@import 'blocks/about';

* {
    font-family: "Shantell Sans", cursive;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    height: 100%;
    width: 1140px;
    margin: 0 auto;
}

@import "blocks/media";