@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__title {
            margin-top: 10px;
            font-size: 50px;
        }
        &-wrapper {
            padding: 10px;
            grid-template-columns: 454px 480px;
            column-gap: 5px;
        }
        &__descr {
            font-size: 18px;
        }
        &__img {
            margin-top: 5px;
            width: 455px;
            height: 460px;
        }
    }
    .roadmap {
        &-wrapper {
            grid-template-columns: repeat(2, 259px);
        }
        &__item {
            &::before {
                width: 435px;
            }
        }
    }
    .guide {
        &__buy {
            &-title {
                font-size: 24px;
            }
            &-descr {
                font-size: 16px;
            }
        }
    }
    .memes {
        &-wrapper {
            grid-template-columns: repeat(3, 300px);
        }
    }
    .footer {
        &-wrapper {
            margin-top: 150px;
            width: 80%;
        }
        &__text {
            font-size: 27px;
        }
        &__model {
            &:nth-child(1) {
                top: 50%;
                left: -10%;
            }
            &:nth-child(2) {
                top: 50%;
                right: -10%;
            }
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        font-size: 72px;
    }
    .promo {
        &-header {
            &__list {
                &-item {
                    padding: 0 30px;
                }
            }
        }
    }
    .about {
        &__title {
            text-align: center;
        }
        &-wrapper {
            grid-auto-rows: minmax(310px, auto);
            grid-template-columns: 1fr;
            row-gap: 10px;
        }
        &__descr {
            height: unset;
            border-radius: 15px;
            font-size: 17px;
        }
        &__img {
            margin: 0 auto;
            width: 460px;
            height: 460px;
            box-shadow: 6px 6px 10px #342475;
        }
    }
    .roadmap {
        height: 1600px;
        &__divider {
            width: 70%;
        }
        &-wrapper {
            gap: 115px;
            grid-template-columns: 320px;
        }
        &__item {
            &:last-child {
                &::after {
                    top: -56px;
                    right: -80px;
                    border-radius: 2px;
                    border-bottom: 3px solid rgb(159, 204, 255);
                }
            }
            &::before {
                width: 85%;
                left: 124px;
            }
            &::after{
                content: "";
                position: absolute;
                height: 376px;
                width: 6px;
                background: #000;
                top: -114px;
                right: -80px;
            }
        }
    }
    .tokenomika {
        &-wrapper {
            padding: 30px;
            grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 184px);
            row-gap: 35px;
        }
        &__item {
            grid-template-columns: 103px 35px;
        }
    }
    .guide {
        padding-top: 0;
        &-wrapper {
            grid-template-columns: 1fr;
            row-gap: 10px;
        }
        &__img {
            grid-row: 1;
            margin: 0 auto;
            width: 520px;
            height: 500px;
        }
        &__title {
            font-size: 70px;
            margin-top: 10px;
        }
        &__buy {
            box-shadow: 6px 5px 5px;
        }
    }
    .memes {
        height: 900px;
        &-wrapper {
            grid-template-columns: repeat(3, 221px);
        }
    }
    .footer {
        &-wrapper {
            margin-top: 150px;
            width: 80%;
        }
        &__text {
            font-size: 22px;
        }
        &__model {
            &:nth-child(1) {
                top: 50%;
                left: -18%;
            }
            &:nth-child(2) {
                top: 50%;
                right: -18%;
            }
        }
    }
}

    @media (max-width: 768px) {
        .container {
            max-width: 540px;
        }
        .promo {
            &__descr {
                font-size: 25px;
            }
            &-header {
                &__list {
                    &-item {
                        padding: 0 15px;
                        a {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .about {
            &__title {
                font-size: 62px;
            }
        }
        .tokenomika {
            padding-top: 0;
            &-wrapper {
                grid-template: repeat(2, minmax(70px, auto)) / repeat(2, 210px);
            }
            &__item {
                &-title {
                    font-size: 23px;
                }
            }
        }
        .guide {
            padding-top: 0px;
           &-footer {
                margin-top: 20px;
                width: 543px;
                &__item {
                    &-title {
                        font-size: 14px
                    }
                }
           }
           &__address {
                width: 545px;
                &-text {
                    font-size: 16px;
                }
            }

        }
        .memes {
            height: 990px;
            &-wrapper {
                grid-template-columns: repeat(2, 246px);
            }
            &__item {
                &:nth-child(3) {
                    grid-column: 2;
                    grid-row: 1/3;
                }
            }
        }

        .footer {
            &-wrapper {
                margin-top: 150px;
                width: 80%;
            }
            &__text {
                font-size: 20px;
            }
            &__model {
                &:nth-child(1) {
                    
                    top: -68%;
                    left: -17%;
                }
                &:nth-child(2) {
                    top: -68%;
                    right: -17%;
                }
            }
        }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .menu {
        &__block {
            padding-top: 75px;
            padding-left: 0px;
            width: 279px;
        }
        &__link {
            font-size: 30px;
            line-height: 42px;
        }
        &__social {
            left: 45%;
            bottom: 75px;
            width: 170px;
            img {
                a {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
    .promo {
        max-height: 600px;
        .hamburger {
            display: flex;
        }
        &__title {
            font-size: 59px;
        }
        &__descr {
            font-size: 19px;
        }
        &-header {
            display: none;
        }
        &-wrapper_model {
            width: 170px;
            height: 170px;
        }
        &__social {
            margin: 0 auto;
            flex-direction: column;
            width: 70%;
            &-link {
                display: flex;
                width: 100%;    
                height: 40px;
                margin: 10px auto 0 auto;
                img {                    
                    width: 30px;
                    height: 30px;
                }
                span {
                    margin: 0 auto;
                    font-size: 15px;
                }
            }
        }
    }
    .about {
        &__title {
            font-size: 36px;
        }
        &-wrapper {
            grid-template-rows: repeat(2, minmax(310px, auto));
            row-gap: 5px;
        }
        &__img {
            width: 100%;
            height: 100%;
        }
    }
    .roadmap {
        height: 1400px;
        &__title {
            font-size: 49px;
        }
        &__divider {
            width: 70%;
        }
        &-wrapper {
            gap: 115px;
            grid-template-columns: 1fr;
        }
        &__item {
            height: 155px;
            &:last-child {
                &::after {
                    top: -72px;
                    right: -50px;
                    border-radius: 2px;
                    border-bottom: 3px solid rgb(159, 204, 255);
                    height: 365px;            
                }
            }
            &::before {
                width: 98%;
                left: 54px;
            }
            &::after{
                content: "";
                position: absolute;
                height: 360px;               
                top: -115px;
                right: -50px;
            }
            &-list {
                &__item {
                    font-size: 18px;
                }
            }
        }
    }
    .tokenomika {
        padding-top: 50px;
        &__title {
            margin-top: 30px;
            font-size: 48px;
        }
        &-wrapper {
            grid-template: repeat(2, minmax(70px, auto)) / repeat(1, 230px);
        }
        &__item {
            &-title {
                font-size: 23px;
            }
        }
    }
    .guide {
        padding-top: 110px;
        padding-bottom: 60px;
        &__title {
            font-size: 44px;
        }
        &-wrapper {
            row-gap: 0px;
        }
        &__img {
            width: 95%;
            height: 95%;
        }
        &-footer {
            width: 300px;
            &__item {
                width: 200px;
                height: 50px;
                &-title {
                    font-size: 15px;
                    line-height: 15px;
                }
            }
        }
        &__address {
            width: 100%;
            &-title {
                font-size: 36px;    
            }
            &-text {
                font-size: 9px;
            }
    }
    }
    .memes {
        height: 100%;
        &__title {
            font-size: 55px;
        }
        &-wrapper { 
            justify-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 350px);
            grid-auto-rows: 1fr;
        }
        &__item {
            &:nth-child(3) {
                grid-column: 1;
                grid-row: 1/3;
            }
        }
    }
    .footer {
        &-wrapper {
            margin-top: 50px;
            width: 80%;
        }
        &__text {
            font-size: 22px;
        }
        &__model {
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
@media (max-width: 525px) {
    .promo {
        padding-top: 30px;
    }
    .about {
        &__title {
            font-size: 33px;
        }
    }
    .memes {
        height: 100%;
        &__title {
            font-size: 50px;
        }
        &-wrapper { 
            grid-template-rows: repeat(3, 340px);
        }
        &__item {
            &:nth-child(3) {
                img {
                    object-fit: inherit;
                }
            }
            &:nth-child(1) {
                img {
                    object-fit: inherit;
                }
            }
         }
    }
}